.newsletter
   width: 90%
   max-width: 730px
   margin: 0 auto
   text-align: center
   margin-bottom: 50px
   h1
      width: 100%
      margin: 40px 0 25px
   p
      margin-bottom: 40px
   form
      input, button
         display: block
         margin: 0 auto
         border: solid 2px $c-pink-dark
         width: 245px
         height: 70px
         line-height: 70px
         font-family: 'Lato', sans-serif;
         font-size: 20px
         color: white
         text-align: center
         transition: .2s
      input
         background-color: $c-pink-dark
         margin-bottom: 5px
      button
         cursor: pointer
         color: $c-pink-dark
         text-decoration: none
         background-color: white

